/*tarjeta */

.tarjeta {
  height: 21rem;
  width: 20rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

.imagenCard {
  height: 15rem;
}
.buttonGrid {
  display: flex;
  height: 100%;
  width: 100%;
}
.nombreSuperheroe {
  margin-left: 1rem;
  margin-top: 1rem;
}
.botonFavorito {
  margin-top: 0.5rem;
  margin-left: 6rem;
}

/* NavBar*/

.barra {
  background-color: rgb(236, 29, 29);
}

.imagen {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 11rem;
  height: 4rem;
  margin-right: 0.75rem;
}

/*buscador*/
.input {
  background-color: white;
  border-radius: 0.25rem;
  width: 55rem;
  height: 3rem;
  display: flex;
  border-style: solid;
  border-color: white;
}

/*Botones*/

.likeBoton {
  color: rgb(255, 45, 45);
}

.botonBuscarFav {
  background-color: rgb(238, 96, 96);
  font-size: large;
  color: white;
  border: none;
  border-radius: 0.5rem;
  height: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
