.barra {
  background-color: rgb(236, 29, 29);
}
.botonInicio {
  background-color: rgb(238, 96, 96);
  font-size: large;
  color: white;
  border: none;
  border-radius: 0.5rem;
  height: 3rem;
  width: 6rem;
  margin-left: 60rem;
  margin-right: 1rem;
}
.espaciado {
  height: 8rem;
}
.tarjeta {
  height: 21rem;
  width: 20rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

.imagenCard {
  height: 15rem;
}

.buttonGrid {
  display: flex;
  height: 100%;
  width: 100%;
}
.nombreSuperheroe {
  margin-left: 1rem;
  margin-top: 1rem;
}
